//colors
//GREEN
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
//YELLOW / ORANGE
$color-secoundary-light: #ffb900;
$color-secoundary-dark: #ff7730;
//BLUE
$color-tetriary-light: #2998ff;
$color-tetriary-dark: #5643fa;
//GREY - DARK
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3:#333;
//BALCK AND WHITE
$color-white: #fff;
$color-black: #000;
//GREY -LIGHT
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
//font
$default-font-size: 1.6rem;
//border-radius
$border-radius-stn: 3px;
$border-radius-btn: 10rem;